name: Discord Notifier

on:
  release:
    types: [published]

jobs:
  discord:
    name: Discord Message
    runs-on: "ubuntu-latest"
    steps:
      - name: Post to Discord Webhook
        uses: sebastianpopp/discord-action@v1.0
        with:
          # A full discord webhook url
          webhook: https://discord.com/api/webhooks/1051705491497156689/geJ1TSWT-a2JEhX7Sq5hZOVGX-CrnPE1Z0ha1p00hW6D8sxHqx6-g4XSHlt2NNvUUa6R
          # Message title
          message-title: New Release Created
